<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/sakfy6.cs3330.lab11/src/sakfy6/cs3330/lab11/DensityA.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sakfy6.cs3330.lab11.DensityA"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sakfy6.cs3330.lab11"/>
</launchConfiguration>
